body{
  margin:0px;
  padding:0px;
}

.a{
  page-break-after:always !important
}

.tab_company_out {
  text-align: center;
  width: 100%;
  margin: auto;
  letter-spacing:1px;
}

.title_warp {
  margin:0px auto;
  margin-bottom:5px;
  margin-top:-20px;
}

.title_top {
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  text-align:left;
}

.title_img {
  width:1200px;
  height:200px;
  margin-bottom:10px;
}

.title_top_left {
  width:1200px;
  font-size: 45px;
  line-height: 65px;
}

.title_top_code{
  width:250px;
  height:250px;
  margin-left:350px;
}

.title_top_right {
  width: 600px;
  font-size: 45px;
  line-height: 65px;
}

.title_center {
  margin-top:-30px;
  font-size: 90px;
}

.title_bottom {
  width:100%;
  height:48px;
  font-size: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:-15px;
}

.title_bottom_left {
  width:900px;
  height: 170px;
  line-height: 65px;
  font-size: 45px;
  text-align:left;
}

.title_bottom_right {
  width: 600px;
  line-height: 65px;
  font-size: 45px;
  text-align:left;
}

.PurchaseWrap {
  width:100%;
  margin-top:10px;
  text-align:left;
  font-size: 45px;
  line-height:13px;
}

table {
  width: 2800px;
  border: 4px solid #000;
  border-left:none;
}

table th{
  line-height:40px;
  font-size: 45px;
  height: 150px;
  border-left: 4px solid #000;
}

table tr td {
  padding-top:5px;
  padding-bottom:5px;
  border: 4px solid #000;
  border-right:none;
  border-bottom:none;
  font-size: 45px;
  height: 110px;
  line-height: 70px;
  text-align:center
}

table tr td:last-child{
  border-bottom:none
}

.footer_warp {
  width:100%;
  display:flex;
  font-size: 50px;
  justify-content:space-around;
  align-items:center;
  margin-top:50px;
}
