.a{
  page-break-after:always !important
}

.tab_company_out {
  text-align: center;
  width: 100%;
  height: 2100px;
  backgournd:pink;
  letter-spacing:1px;
}

.title_warp {
  margin:0px auto;
  margin-bottom:5px;
}

.title_top {
  width:100%;
  height: 80px;
  position: relative;
  top:10px;
  left:0px;

}

.title_top_left {
  width:1200px;
  position: absolute;
  left:0px;
  top:0px;
  font-size: 60px;
  text-align: left;
  line-height: 65px;
}

.jinji{
  width:200px;
  height:200px;
  line-height:200px;
  text-align:center;
  color:red;
  border:10px solid red;
  font-size:60px;
}

.title_img {
  width:100%;
  height:400px;
  margin-bottom:10px;
}

.title_top_code{
  width:250px;
  height:250px;
  position: absolute;
  right: 0px;
  top:0px;
}

.title_top_right {
  width: 800px;
  font-size: 60px;
  text-align: left;
  line-height: 80px;
  position: absolute;
  right:590px;
  top:0px;
}

.title_center {
  position: relative;
  left:0px;
  top:220px;
  font-size: 90px;
}

.title_bottom {
  width:100%;
  height:48px;
  font-size: 60px;
  position: relative;
  top:230px;
  left:0px;
}

.title_bottom_left {
  width:2000px;
  height: 190px;
  position: absolute;
  left:0px;
  top:0px;
  font-size: 60px;
  text-align:left;
}

.title_bottom_right {
  width: 800px;
  line-height: 65px;
  position: absolute;
  right:0px;
  top:0px;
  font-size: 60px;
  text-align:left;
}

.PurchaseWrap {
  width:100%;
  background: pink;
  position: relative;
  top:320px;
  left:0px;
  text-align:left;
  font-size: 60px;
  line-height:17px;
}

.kehubianma{
  position: absolute;
  top:0px;
  right:330px;
  line-height: 60px;
  display:inline-block
}

.Purchase_item{
  width: 2200px;
  height:60px;
  position: absolute;
  left:0px;
  top:0px;
  line-height: 60px;
  display:inline-block;
}

.table_warp{
  position: relative;
  top:470px;
  left:0px;
}

table {
  width: 3200px;
  border: 4px solid #000;
  border-left:none;
}

table th{
  line-height:40px;
  font-size: 50px;
  height: 150px;
  border-left: 4px solid #000;
}

table tr td {
  padding-top:5px;
  padding-bottom:5px;
  border: 4px solid #000;
  border-right:none;
  border-bottom:2px solid #000;
  font-size: 60px;
  height: 110px;
  line-height: 70px;
  text-align:center
}

.beizhu{
  font-size: 45px;
}

.beizhutitle{
  font-size: 45px;
}


.footer_warp {
  width:100%;
  height:30px;
  font-size: 60px;
  margin-top:100px;
  position: relative;
}

.footer_warp1{
  position: absolute;
  left:200px;
  top:0px;
}

.footer_warp2{
  position: absolute;
  left:850px;
  top:0px;
}

.footer_warp3{
  position: absolute;
  left:1700px;
  top:0px;
}

.footer_warp4{
  position: absolute;
  right:200px;
  top:0px;
}


.xuhao{
  width:120px;
}
.pinming{
  width:450px
}
.pinhao{
  width:350px
}
.danwei{
  width:300px
}
.shuliang{
  width:250px
}
.beipin{
  width:150px
}
.guige{
  width:120px;
}
